@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito&family=Poppins:wght@100;300;500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
/*Layout*/
.container{
    width: 80%;
    margin: 0 auto;
}
.col-1{
    width:40%;
}
.col-2{
    width: 30%;
}
/*Typography*/
h1{
    color: #ffffff;
    font-size: 3.8rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h2{
    color: #0adab9;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
}


/*Navigation*/
.logo img{
    height: 3.5em;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto -2em auto;
    position: relative;
    height: 7em;
    padding: 1.5em 0 0 0;
    


}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    padding: 1em 1em;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.nav ul li a:hover{
    color: #0adab9;
    transition: ease-in .3s;
}
input[type="text"] {
    padding: 0.8em 7em 0.8em .2em;
    border-radius: -4%;
    border-radius: 2em;
    outline: none;
    margin-top: .8em;
    margin-left: -3em;
    position: relative;
    
}
h3{
    position: absolute;
    top: 22%;
    left: 94%;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
/* .input{
    display: inline-block;
} */
.dot{
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: #000000;
    margin: .2em 0;
    
}
.dots{
    position: absolute;
    top: 2.5em;
    left: 103%;
   
}
/*Banner-section*/
h2{
    /* margin: 0 0 -1em 0; */
    
}
.banner p{
    font-size: 1.12rem;
    color: #ffffff;
}
p.col_1_p {
    line-height: 1.5em;
   font-weight: 500;
}
p.col_2_para {
    font-size: 2rem;
    padding: 0 0 0 3em;
    
    margin-top: -.2em;
   
    font-weight: 500;
    font-style: italic;
}
.banner{
    background-image: url("../images/asset\ 4.jpeg ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 110vw;
    padding: 9em 0 5em 0;
    position: relative;
}
.banner-img{
    margin-bottom: 100px;
}
.columns{
    display: flex;
}
.btn button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    padding: 1em 2.5em;
    border-radius: 2.5em;
}
.btn button:hover{
    color: #0adab9;
    border: 1px solid #0adab9;
    transition: ease-in-out .2s;
}
.shapes{
    display: flex;
    
}
.shape img{
    margin: 2em 1em 0 0;
    height: 37px;
    width: 37px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    padding: .8em;
}
.shape img:hover{
    height: 39px;
    width: 39px;
    transition: ease-out .3s;
   
    
}


.brands{
    position: absolute;
    top: 95%;
    left: 96%;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    margin-bottom: 10px;
    font-weight: 400;
    color: black;
    background-color: #0adab9;
    font-size: 1rem;
    border-radius: 50%;
    border: 8px #0adab9 solid ;
    
}
.fa-brands:hover, .fab:hover{
     font-size: 1.2rem;
    transition: ease-in-out .3s;
}



/*Responsive*/